.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.selected {
  border: 2px solid red;
}

#results-container {
  display: none;
}
