.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.selected {
  border: 2px solid red;
}

#results-container {
  display: none;
}

.popupbox {
	/*text-align: center;*/
	/*margin: 25%;*/
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 6%;
	/*margin-bottom: 25%;*/
	/*top: 0px;*/
	/*vertical-align: text-top;*/
	z-index: 600;
	width: 50%;
	height: 75%;
	outline: 2px solid black;
	background-color: black;
	position: fixed;
	display: block;
}

