<body>


<div class='container-fluid uh'>
 <div class='page-header'>

<div class='row'>
<div class='col-lg-12'>


 <ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">home</a></li>
  <li role="presentation"><a href="#">login</a></li>
  <li role="presentation"><a href="#">register</a></li>
</ul>
  <h1> Emovji </h1>


 <div class='jumbotron'>

<!-- <p> what our app does and is all about!</p> -->

<!-- Moods -->
<!--  <h3> What Mood are you in? </h3> -->
 <div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
    <a id="emotional" href="#" class="thumbnail">
      <img src="Emoji_Smiley-27.png" alt="..."></a>
  </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
    <a id="funny" href="#" class="thumbnail">
      <img src="Emoji Smiley-38.png" alt="..."></a>
  </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
    <a id="curious" href="#" class="thumbnail">
      <img id='test' src="Emoji_Smiley-18.png" alt="..."></a>
  </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
    <a id="excited" href="#" class="thumbnail">
      <img src="Emoji_Smiley-48.png" alt="..."></a>
  </div>
</div>
<div id='results-container' class="jumbotron">
  <!-- <p> <a class="btn btn-primary btn-lg" href="#" role='button'> DONE </a></p> -->
</div>

<!-- Company -->
<!-- <h3> Who are you with? </h3> -->
 <div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
    <a id="SignificantOther" href="#" class="thumbnail">
      <img src="Emoji_Smiley-180.png" alt="..."></a>
  </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
    <a id='TheGals' href="#" class="thumbnail">
      <img src="Emoji_Objects-210.png" alt="..."></a>
  </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
    <a id='TheGuys' href="#" class="thumbnail">
      <img src="Emoji_Smiley-123.png" alt="..."></a>
  </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
    <a id='TheKids' href="#" class="thumbnail">
      <img src="Emoji_Smiley-128.png" alt="..."></a>
  </div>
 </div>

  <!-- Genre -->
<!--   <h3> Genre </h3> -->
 <div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
    <a id='action' href="#" class="thumbnail">
      <img src="Emoji_Objects-74.png" alt="..."></a>
  </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
    <a id='horror' href="#" class="thumbnail">
      <img src="Emoji_Objects-12.png" alt="..."></a>
  </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
    <a id='drama' href="#" class="thumbnail">
      <img src="Emoji_Smiley-174.png" alt="..."></a>
  </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
    <a id='comedy' href="#" class="thumbnail">
      <img src="Emoji_Smiley-81.png" alt="..."></a>
  </div>
 </div>
 <button type="button" id='find_movie' class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Find Movie
</button>
</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">your selection</h4>
      </div>
      <div class="modal-body">
        **Finding your selection**
      </div>
      <div class="modal-footer">
        <a href='#' data-dismiss="modal"><img src="Emoji Smiley-106.png" alt="..."></a>
        <a href='#' data-dismiss="modal"><img src="Emoji Smiley-107.png" alt="..."></a>
       <!--  <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


</div>
</div>
</div>
</div>
</div>








</body>
